@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Yellowtail);
body * {
    font-family: "Segoe UI"
}

#header {
    background: url(../img/fundo-cabecalho.JPG);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    opacity: 0.75!important;
    text-shadow: none;
    transition: opacity 0.2s linear, color 0.2s linear;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 11px;
    line-height: 15.4px;
}

#body-header {
    margin-top: 8%;
}

#content {
    text-align: center;
    color: white;
}

#content h2 {
    font-family: Yellowtail;
    font-size: 38px;
    line-height: 30px;
}

#content h1 {
    font-size: 52px;
    line-height: 66px;
    font-weight: 700;
}

#content h3 {
    font-size: 19px;
    line-height: 5px;
}

#content h3,
#content h1 {
    font-family: "Roboto Condensed";
}

#adquirir-top {
    background-color: #48649F;
    border-style: none;
    color: white;
    border-radius: 20px;
    padding: 5px 30px;
}

.navbar-default .navbar-nav>li>a:hover {
    opacity: 1!important;
    color: #ffffff!important;
}

#principal {
    background-color: white;
    -webkit-box-shadow: 4px -5px 29px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px -5px 29px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 4px -5px 29px 1px rgba(0, 0, 0, 0.4);
}

#facaPergunta {
    background-color: rgba(72, 100, 159, 0.73);
}

#facaPergunta h1 {
    font-family: "WORK SANS";
    color: white;
    margin-top: 10px;
}

#bottom {
    background-color: white;
    /* height: 100px; */
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

@media (min-width: 767px) {
    #bottom {
        position: absolute;
        bottom: 0px;
    }
    
    #content h1 {
        font-size: 72px;
    }
}

#bottom h2 {
    font-family: 'Montserrat';
    color: #676767;
    font-size: 100%;
    font-weight: 600;
    margin-top: 10px;
}

#bottom span {
    color: #676767;
    font-size: 30px;
    text-align: center;
}

#bottom * {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#descricao-pop {
    font-size: 14.9px;
    margin-top: 20px;
    display: block;
    color: #6d6d6d;
}

.divulgadorbutton {
    height: 71px;
    color: white;
    border-style: none;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    margin-top: 35px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc1ff+0,00a5ff+100 */
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(79, 193, 255, 1) 0%, rgba(0, 165, 255, 1) 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4fc1ff', endColorstr='#00a5ff', GradientType=0);
    /* IE6-9 */
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
}

.baixar {
    height: 71px;
    background-color: #3aad61;
    color: white;
    border-style: none;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #125a2a;
    /* margin-top: 35px; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc1ff+0,00a5ff+100 */
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 */
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
}

.face {
    background-color: #48649F;
    border-bottom-color: #2f4065;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc1ff+0,00a5ff+100 */
    background: #48649F;
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(79, 193, 255, 1) 0%, rgba(0, 165, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #48649F 0%, #48649F 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #48649F 0%, #48649F 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4fc1ff', endColorstr='#00a5ff', GradientType=0);
    /* IE6-9 */
    /* margin-top: 10px; */
}

#popup {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 25px 31px;
    font-size: 16px;
}

@media (max-width: 767px) {
    #video {
        /* margin-top: 20px; */
    }
}

@media (min-width: 768px) .navbar-nav {
    float: left;
    margin: 0;
    margin-top: 20px;
}

@media (min-width: 768px) {
    #principal {
        margin-top: 20%;
        border-radius: 3px;
    }
    #subirvideo {
        /* margin-top: -90px; */
    }
    #facebook-direita {
        text-align: right;
    }
    #deixeocomentario {}
}

.col-sm-26 {
    width: 26.66666666666667%;
    position: relative;
    float: left;
}

.col-sm-100 {
    width: 10%;
    position: relative;
    float: left;
}

#countdown {
    /* background-color: #425eab; */
    color: white;
    padding: 15px 70px;
    border-radius: 1px;
    border-bottom-right-radius: 0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc1ff+0,00a5ff+100 */
    background: rgb(79, 193, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(79, 193, 255, 1) 0%, rgba(0, 165, 255, 1) 100%);
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top,  rgba(79,193,255,1) 0%,rgba(0,165,255,1) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom,  rgba(79,193,255,1) 0%,rgba(0,165,255,1) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4fc1ff', endColorstr='#00a5ff', GradientType=0);
    /* IE6-9 */
    border-top-left-radius: 0px;
}

#convite {
    padding: 40px 40px;
}

#convite b {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    font-weight: 500;
}

#convite span {
    font-size: 13px;
}

.fb-like {
    float: right;
    margin-right: 17px;
}

.valor-count {
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
}

.descricao-count {
    display: inline-block;
}

#principal > h1 {
    color: #4a4a4a;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#countdown h1 {
    color: #ffffff;
    font: 200 20px / 18.01px 'Work Sans', sans-serif;
    margin-bottom: 5px;
    margin-top: 0px;
}

.barra {
    font-size: 56px;
    font-weight: 300;
}

#loader {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    text-align: center;
}

#loader > div {
    width: 100%;
    position: absolute;
    height: 2px;
    margin-top: -10%;
    background-color: #00acff;
}

#loader img {
    width: 100px;
}

#loader h1 {
    font-size: 25px;
    font-weight: 300;
    margin-top: -65px;
}

#titulo-celular {
    margin-top: 0px !important;
    padding-top: 20px;
    font-size: 25px !important;
}

#deixeocomentario {
    background-color: rgba(0, 0, 0, 0.62);
    color: white;
    padding: 5px;
    margin-top: 5px;
    font-size: 23px;
    font-weight: 200;
}

.navbar .navbar-nav {
    float: none;
    margin-top: 20px;
    vertical-align: top;
}

.navbar .navbar-nav.center {
    display: inline-block;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    margin-top: 25px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgba(0, 0, 0, 0.04);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle {
    margin-top: 25px;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: rgba(255, 255, 255, 0.58);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(248, 248, 248, 0) 100%);
    background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(248, 248, 248, 0)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(248, 248, 248, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    margin-bottom: 10px;
    height: 0;
    margin-top: 10px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#comentarios {
    text-align: center;
    margin: 60px 0px;
}

#logo-texto h1 {
    font-weight: 100;
    font-size: 30px;
}

#logo-texto {}

#logo-texto img {
    width: 140px;
}

footer {
    /* position: absolute; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    min-height: 300px;
    /* top: 100%; */
    padding-top: 50px;
}